captum==0.5.0
dask==2023.3.2
dask_ml==2023.3.24
datasets==2.13.1
datastructures==0.1.0
einops==0.6.1
external==0.0.1
graph_part==0.1.2
h5py==3.7.0
importlib_metadata==6.2.0
importlib_metadata==6.1.0
logomaker==0.8
matplotlib==3.6.2
motifdata.egg==info
numpy==1.23.0
numpy==1.23.5
pandas==1.5.2
pyBigWig==0.3.22
pyBigWig==0.3.22
pyfaidx==0.7.2.1
pyranges==0.0.120
pytest==7.3.1
pytest_nunit==1.0.3
pytorch_lightning==2.0.0
PyYAML==6.0
PyYAML==6.0
ray==2.4.0
scikit_learn==1.2.0
scipy==1.9.3
seaborn==0.12.2
seqdata.egg==info
seqexplainer.egg==info
seqpro.egg==info
tensorboard==2.11.2
torch==2.0.0
torchattacks==3.4.0
torchinfo==1.8.0
torchmetrics==0.11.4
tqdm==4.65.0
typing_extensions==4.6.3
umap_learn==0.5.3
xarray==2023.4.0
yuzu==4.1.1
